body{
    font-family: Arial,sans-serif;
}
.container{
    height: 100vh;
    gap:5px;
   
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:100px 200px auto 100px;
    grid-template-areas:"navbar navbar navbar navbar"
                        "smallbox1 smallbox2 smallbox3 sidebar"
                        "maincontent maincontent maincontent sidebar"
                        "footer footer footer footer";
   
   
}

#item1{
    grid-area:navbar;
}
#item2{
    grid-area:smallbox1;
}
#item3{
    grid-area:smallbox2;
}
#item4{
    grid-area:smallbox3;
}

#item5{
    grid-area:sidebar;
}
#item6{
    grid-area:maincontent;
} 
#item7{
    grid-area:footer;
} 
.item{
    font-family:"Arial",sans-serif;
    background-color:#4169E1;
    color:#ddd;
    padding:5px;
}


